body {
    background-color: #02405F;
    margin: auto;
}

h1 {
    margin: auto;
    color: #2ABAEF;
}

@keyframes moveText {
    from {
        transform: scale(0.3);
        opacity: 0;
    }

    to {
        transform: scale(1.2);
        opacity: 1;
    }
}

/* Apply the animation to the text element */
.animated-text {
    font-weight: bold;
    display: inline-block;
    animation: moveText 3s infinite;
    padding-top: 300px;
}

button {
    margin-top: 100px;
    padding: 10px 20px;
}